<div class="ai-container">

  <h2 class="ai-title">AI Assistant</h2>


  <div class="chat-window" *ngIf="facade.messages() as msgs">
    <div *ngFor="let msg of msgs" [ngClass]="msg.role === 'user' ? 'bubble user' : 'bubble ai'">
      <p class="ai-message" >{{ msg.content }}</p>
      <img
      *ngIf="msg.imageUrl"
      [src]="msg.imageUrl"
      class="chat-image"
      alt="uploaded image"
    />
      <span class="time">{{ msg.timestamp | date:'shortTime' }}</span>
    </div>
  </div>

  <mat-card class="ai-card">

    <mat-form-field appearance="outline" class="full-width ai-field">
      <mat-label>Your message</mat-label>
      <textarea
        matInput
        rows="3"
        [(ngModel)]="prompt"
        (keydown)="onKeyDown($event)"
        placeholder="Type here… or upload an image to analyze"
        [disabled]="facade.loading()"
      >
      </textarea>
    </mat-form-field>


  <div class="input-row">

    <button mat-stroked-button color="primary" class="upload-btn" (click)="fileInput.click()">
      <mat-icon>photo</mat-icon>
    </button>

    <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)" />

    <span *ngIf="imageFile" class="filename">{{ imageFile.name }}</span>

    <div class="flex-spacer"></div>

    <button
      mat-flat-button
      color="primary"
      class="send-btn"
      [disabled]="facade.loading() || (!prompt.trim() && !imageFile)"
      (click)="send()">
      <mat-icon>{{ facade.loading() ? 'sync' : 'send' }}</mat-icon>
    </button>

  </div>

  </mat-card>
</div>
