<div class="dashboard-root">
  <ng-container *ngIf="user() as u; else noData">
    <ng-container *ngIf="metrics() as m">

      <div class="profile-strip">
        <div class="profile-stat">
          <mat-icon class="ps-icon ps-purple">monitor_weight</mat-icon>
          <div class="ps-body">
            <div class="ps-value-row">
              <span class="ps-value ps-purple">{{ u.weightKg }}</span>
              <span class="ps-unit">kg</span>
            </div>
            <span class="ps-label">Current Weight</span>
          </div>
        </div>

        <div class="ps-sep"></div>

        <div class="profile-stat">
          <mat-icon class="ps-icon ps-pink">local_fire_department</mat-icon>
          <div class="ps-body">
            <div class="ps-value-row">
              <span class="ps-value ps-pink">{{ m.goalCalories }}</span>
              <span class="ps-unit">kcal / day</span>
            </div>
            <span class="ps-label">Goal Calories</span>
          </div>
        </div>

        <div class="ps-sep"></div>

        <div class="profile-stat">
          <mat-icon class="ps-icon ps-blue">water_drop</mat-icon>
          <div class="ps-body">
            <div class="ps-value-row">
              <span class="ps-value ps-blue">{{ m.waterL | number:'1.1-1' }}</span>
              <span class="ps-unit">L / day</span>
            </div>
            <span class="ps-label">Water Target</span>
          </div>
        </div>
      </div>

    </ng-container>
  </ng-container>

  <ng-template #noData>
    <div class="no-data-banner">
      <mat-icon>person_off</mat-icon>
      <span>No profile data yet. Go to <a routerLink="/user-profile">Profile</a> to add your information.</span>
    </div>
  </ng-template>
</div>
