<div *ngIf="metrics() as m; else noData">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Fit metrics</h5>
      <p class="mb-1"><strong>BMI: </strong> {{ m.bmi ?? '—' }}</p>
      <p class="mb-1"><strong>BMI Category: </strong> {{ m.bmiCat  ?? '—' }}</p>

      <p class="mb-1"><strong>BMR:</strong> {{ m.bmr ?? '—' }} kcal</p>
      <p class="mb-1"><strong>TDEE:</strong> {{ m.tdee ?? '—' }} kcal</p>
      <p class="mb-1"><strong>Water:</strong> {{ m.waterL ?? '—' }} L</p>
      <p class="mb-1"><strong>Goal Calories:</strong> {{ m.goalCalories  ?? '—' }} kcal</p>
      <p class="mb-1"><strong>Ideal weight:</strong> {{ m.idealWeightKgRange ? (m.idealWeightKgRange.min + ' - ' + m.idealWeightKgRange.max + ' kg') : '—' }}</p>
      <p class="text-muted small">Calculated at: {{ m.lastCalculatedAt }}</p>
    </div>
  </div>
</div>
<ng-template #noData>
  <div>No user data</div>
</ng-template>
