<!-- <div class="page-wrapper">
  <app-header></app-header>

   <div class="page-content">
       <app-chat /> 
      <app-groq></app-groq>
  </div>

  <app-footer></app-footer>
</div> -->

<div class="page-wrapper">
  <app-header></app-header>
<mat-sidenav-container class="chat-layout-container">

  <!-- SIDEBAR -->
  <mat-sidenav mode="side" opened class="sidebar">

    <div class="sidebar-header">
      <button mat-flat-button color="primary" class="new-chat-btn" (click)="newChat()">
        <mat-icon>add</mat-icon>
        New Chat
      </button>
    </div>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let conv of facade.conversations()"
        (click)="openConversation(conv.id)"
        [class.active]="conv.id === facade.conversationId()"
      >
        <mat-icon matListIcon>chat</mat-icon>

        <div class="btn-caption" matLine>{{ conv.messages || 'Conversation' }}</div>
        <div class="btn-caption" matLine class="small-date">
          {{ conv.createdAt | date:'short' }}
        </div>

         <!-- DELETE BUTTON -->
  <div class="delete-btn"
     (click)="delete(conv.id); $event.stopPropagation()"
     matTooltip="Delete conversation">
  <mat-icon class="delete-icon">delete</mat-icon>
</div>

      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content class="chat-content">
      <app-groq></app-groq>
  </mat-sidenav-content>

</mat-sidenav-container>
  <app-footer></app-footer>
</div>