.chat-layout-container {
  height: 100vh;
  background: var(--surface);
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: var(--surface);
  border-right: 1px solid var(--white-fade);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
