<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid container">
    <a class="navbar-brand" routerLink="/">FitApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/blog">Blog</a></li>
            <li *ngIf="account.authUser()"  class="nav-item"><a class="nav-link" routerLink="/page/user-profile">Profile</a></li>
            <li *ngIf="account.authUser()"  class="nav-item"><a class="nav-link" routerLink="/parent/profile-user-data">Composite</a></li>
          </ul>

          <div class="ms-auto d-flex align-items-center">
            <!-- if not logged in show login/register -->
            <ng-container *ngIf="!account.authUser(); else logged">
              <a class="btn btn-outline-light btn-sm me-2" routerLink="/login">Login</a>
              <a class="btn btn-light btn-sm" routerLink="/register">Register</a>
            </ng-container>

            <ng-template #logged>
              <div class="me-3 text-white">{{ account.authUser()?.fullName || account.authUser()?.email }}</div>
              <button class="btn btn-sm btn-outline-light" (click)="logout()">Logout</button>
            </ng-template>
          </div>
    </div>
  </div>
</nav>
