<mat-toolbar color="primary">
  <span class="app-title" routerLink="/" style="cursor:pointer">FitApp</span>

  <span class="spacer"></span>

  <nav>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/blog">Blog</a>
    <a *ngIf="accountFacade.authUser()" mat-button routerLink="/user-profile">Profile</a>
    <a *ngIf="accountFacade.authUser()" mat-button routerLink="/parent/profile-user-data">Composite</a>
  </nav>

  <span class="spacer"></span>

  <!-- Authentication actions -->
  <ng-container *ngIf="!accountFacade.authUser(); else logged">
    <button mat-stroked-button color="accent" routerLink="/login">Login</button>
    <button mat-flat-button color="accent" routerLink="/register" style="margin-left:8px">Register</button>
  </ng-container>

  <ng-template #logged>
    <span class="user-label">{{ accountFacade.authUser()?.fullName || accountFacade.authUser()?.email }}</span>
    <button mat-icon-button aria-label="Logout" (click)="accountFacade.logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
